md-card {
  padding: 10px; }

.margin-padding {
  margin: 5px; }

.menuToggle {
  padding-left: 7px; }

.modalSelect, .slider {
  margin-left: 6px; }

md-dialog {
  width: 50%; }

.sideBar-button {
  text-transform: none; }
